$ docker compose -f deploy/docker/docker-compose.yml exec -T postgres psql -U sentinel -d sentinel -c SELECT\ conname\,\ conrelid::regclass\ AS\ table_name\,\ pg_get_constraintdef\(oid\)\ AS\ definition\ FROM\ pg_constraint\ WHERE\ connamespace\ =\ \'public\'::regnamespace\ ORDER\ BY\ conrelid::regclass::text\,\ conname\;
service "postgres" is not running
